.Rproj.user
.Rhistory
.RData
.Ruserdata
STA 404/.DS_Store
.DS_Store
Dashboards/.DS_Store
Dashboards/CovidDashboard/COVID19-Dashboard/
STA 404/.Rproj.user/shared/notebooks/paths
STA 404/.Rproj.user/796AF47A/pcs/files-pane.pper
